<nav id='user-nav' class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Welcome, <%= @user.first_name %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'New Widget', my_widgets_path, class: 'nav-link' %>
      </li>
    </ul>
      <%= form_tag :user_search_index, method: :get, class: "search-box form-inline" do %>
        <div class="form-group search-field">
          <%= text_field_tag :user_widget, nil, placeholder: 'Search My Widgets', class: "form-control mr-2" %>
          <%= submit_tag 'Search', class: 'btn btn-outline-primary my-2 my-sm-0' %>
        </div>
      <% end %>
  </div>
</nav>

<div class='container-fluid'>
  <div class='my-visible-widgets'>
    <div class="list-group">
    <h4>Visible Widgets</h4>
      <% @my_widgets.visible.each do |widget| %>
        <ul id='visible-widget' class="list-group list-group-flush">
          <li class="list-group-item"><h4><%= widget.name %></h4>
          <h5><%= widget.description %></h5>
          <%= link_to 'Edit',  %>
          </li>
        </ul>
      </div>
    <% end%>
  </div>

  <div class='my-hidden-widgets'>
    <div class="list-group">
    <h3>Hidden Widgets</h3>
      <% @my_widgets.hidden.each do |widget| %>
        <ul id='hidden-widget' class="list-group list-group-flush">
          <li class="list-group-item"><h3><%= widget.name %></h3>
          <h5><%= widget.description %></h5>
          </li>
        </ul>
      </div>
    <% end%>
  </div>
</div>
